﻿@model IEnumerable<Lesson1.Models.Person>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover"
        <tr>
            <th>
                <h2>@ViewBag.Name</h2>
            </th>
            <th>
                <h2>@ViewBag.Position</h2>
            </th>
            <th>
                <h2>Возраст</h2>
            </th>
        </tr>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.Label(item.Name)
            </td>
            <td>
                @Html.Label(item.Position)
            </td>
            <td>
                @Html.Label(item.Age.ToString())
            </td>
            <td>
                <input type="hidden" value="@ViewBag.PersonId" name="PersonId" />
                <a class="btn btn-primary" href="/People/PersonDetails/@item.Id">Показать</a>
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "People", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "People", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
  </table>
    </div>




