﻿@model Lesson1.Models.Person

@{
    ViewBag.Title = "Create";
}

<h2>Создание</h2>

@using (Html.BeginForm("Create", "People", FormMethod.Post))
{

    @Html.EditorForModel()
    <br>
    <input class="btn btn-primary" type="submit" value="Cоздать" />
}
    <p><a class="btn btn-primary pull-right" href="/People/PeopleList">Назад к списку</a></p>
