﻿@model Lesson1.Models.Person

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование</h2>

@using (Html.BeginForm("Edit", "People", FormMethod.Post))
{

    @Html.EditorForModel()
    <br>
    <input class="btn btn-primary" type="submit" value="Cохранить" />

}

<p><a class="btn btn-primary pull-right" href="/People/PeopleList">Назад к списку</a></p>


