﻿
@{
    ViewBag.Title = "Список сотрудников";
}

<h2>Список сотрудников</h2>

<p><a class="btn btn-primary pull-right" href="/People/Create">Добавить сотрудника</a></p>




@Html.Partial("_people", (IEnumerable<Lesson1.Models.Person>)ViewBag.People)

