﻿@model Lesson1.Models.Person

@{
    ViewBag.Title = "О сотруднике";
}

<h2>Данные сотрудника</h2>


<div class="row">
    Ф.И.О.: @Html.Label(Model.Name)
</div>
<div class="row">
    Возраст: @Html.Label(Model.Age.ToString())
</div>
<div class="row">
    Должность: @Html.Label(Model.Position)
</div>
<div class="row">
    Email: @Html.Label(Model.Email)
</div>

<p><a class="btn btn-primary" href="/People/PeopleList">Назад к списку</a></p>
